[submodule "RabbitCommunicationLib"]
	path = RabbitCommunicationLib
	url = ../../engine/RabbitCommunicationLib.git
[submodule "zonereader"]
	path = zonereader
	url = ../../csgo/zonereader.git
[submodule "EquipmentLib"]
	path = EquipmentLib
	url = ../../csgo/EquipmentLib.git
[submodule "matchentities"]
	path = matchentities
	url = ../../csgo/matchentities.git
