[submodule "RabbitCommunicationLib"]
	path = RabbitCommunicationLib
	url = git@gitlab.com:mentorgg/engine/RabbitCommunicationLib.git
[submodule "matchdb"]
	path = matchdb
	url = git@gitlab.com:mentorgg/csgo/matchdb.git
[submodule "zonereader"]
	path = zonereader
	url = git@gitlab.com:mentorgg/csgo/zonereader.git
[submodule "EquipmentLib"]
	path = EquipmentLib
	url = git@gitlab.com:mentorgg/csgo/EquipmentLib.git
